.jumbotron {
  background-color: rgb(31, 31, 31);
  color: antiquewhite;
}

.list-group {
  width: 400px;
  padding: 1.5rem;
  display: inline-block;
}

.city-list {
  padding-left: 0px;
  padding-right: 0px;
}

.infowrap {
  display: flex;
  background-color: cadetblue;
}
.bg-primary {
  width: 100%;
  margin: 40px;
  height: 250px;
}
.rightInfoCard {
  position: relative;
  left: 35px;
}

.hero-weather-city {
  color: aquamarine;
}
.list-group-item,
.btn {
  background-color: rgb(149, 242, 245);
}

.list-group-item:hover {
  cursor: pointer;
}

.main-card {
  background-color: rgb(70, 99, 99);
  color: antiquewhite;
  text-shadow: 2px 1px 4px #000000;
  margin: 20px;
  /* padding: 30px; */
}

.container-bottom {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-shadow: 2px 1px 4px #000000;
}

@media (max-width: 860px) {
  .infowrap {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 100%;
  }
}
.myspdiv {
  margin: 15px;
  width: 200px;
}

.hero-weather-list {
  list-style: none;
  white-space: nowrap;
  font-size: 1.7em;
}
p {
  white-space: nowrap;
}

.card-body-div {
  background-color: rgb(42, 95, 165);
  padding: 8px;
}

@media (max-width: 860px) {
  .list-group {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 860px) {
  .card {
    width: 95%;

    margin: 10px;
    height: fit-content;
  }
}

@media (max-width: 860px) {
  .card-body,
  .hero-weather-list {
    margin: 0px;
    padding: 15px;
    font-size: 0.8rem;
  }
}

@media (max-width: 860px) {
  .rightInfoCard {
    position: relative;
    left: 0px;
  }
}

@media (max-width: 860px) {
  .myspdiv {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
  }
}
